@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 231 48% 94%;
    --foreground: 233 30% 21%;
    --card: 0 0% 100%;
    --card-foreground: 233 30% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 233 30% 21%;
    --primary: 233 64% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 232 29% 84%;
    --secondary-foreground: 233 64% 30%;
    --muted: 232 29% 88%;
    --muted-foreground: 233 30% 41%;
    --accent: 51 100% 50%;
    --accent-foreground: 233 64% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 29% 80%;
    --input: 232 29% 80%;
    --ring: 233 64% 30%;
    --chart-1: 233 64% 30%;
    --chart-2: 51 100% 50%;
    --chart-3: 232 29% 64%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 233 64% 25%;
    --sidebar-foreground: 0 0% 94%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 233 64% 35%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 233 64% 35%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 233 30% 11%;
    --foreground: 0 0% 98%;
    --card: 233 30% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 233 30% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 233 64% 30%;
    --secondary: 233 30% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 233 30% 20%;
    --muted-foreground: 233 30% 60%;
    --accent: 51 100% 50%;
    --accent-foreground: 233 64% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 30% 25%;
    --input: 233 30% 25%;
    --ring: 51 100% 50%;
    --chart-1: 0 0% 98%;
    --chart-2: 51 100% 50%;
    --chart-3: 233 30% 50%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 233 30% 9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 233 30% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 233 30% 15%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
